h3 span{
    color: #DAF7DC
}
.Photo_center{
    overflow-x: hidden;
}
.Profile_Result_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Profile_Result_image{
    max-width: 100%;
    height: 70vh;
    
}