.Profile_left{
  font-family: 'Unbounded';
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #edeeef ;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
}
.profile_let_number{
  margin-left: 2vh;
  
}
.profile_let_number_a{
  color: #167ffb;
}
.Profile_user_seceretkey{
  margin-right:2vh;
}
.secret_key_block{
  color: #167ffb;
}
.Profile_user_seceretkey button{
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-family: 'Unbounded';
  /* background: linear-gradient(45deg, rgba(0, 247, 255, 1) 0%, rgba(0, 131, 255, 1) 100%) center 0 round; */
  background: #167ffb;
}
.ShowButton{
  font-size: 70%;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0px;
  height: 50px;
  color: white;
  font-family: 'Unbounded';
  /* background: linear-gradient(45deg, rgba(0, 247, 255, 1) 0%, rgba(0, 131, 255, 1) 100%) center 0 round; */
  background: #167ffb;
}
.DeleteButton{
  font-size: 70%;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  border: 0px;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-family: 'Unbounded';
  /* background: linear-gradient(45deg, rgba(0, 247, 255, 1) 0%, rgba(0, 131, 255, 1) 100%) center 0 round; */
  background: red;
}
.DeleteButton:hover{
  color: black;
}
.Profile_center{
  margin-top: 2%  ;
 display: flex;
 font-family: 'Unbounded';
 flex-direction: column;
 justify-content: space-around;
 color:white;
 background-color: #edeeef ;
}
.Profile_center_header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Profile_center_header a{
  margin-left: 1%;
  font-size: 4vh;
}
.add_new_reviews{
  margin-left: 5%;
  cursor: pointer;
  display: flex;
  width: 320px;
  height: 50px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px;
  border-color: black ;
  background-color: #167ffb;
}
.add_new_reviews h1{
  font-size: 3vh;
}
.add_new_reviews:hover{
  background-color: #5ea9ff;
}
.tableNewDezign{
  padding: 10px 20px 10px 20px;
}
/* table{
  border-collapse: collapse;
} */
table tr {
  text-align: center;
  border: solid 1px rgb(209, 209, 209);
}
.Profile_reviews{
  /* min-width: 1000px; */
  margin-top: 2%;
  border-radius: 10px;
  color: black;
  font-family: 'Unbounded';
  background-color: #ffffff ;
 
  /*background-color: #edeeef ;  */
}
.Profile_header_line{
  width: 100%;
  height: 2px;
  background-color: black;
}
.Profile_review_header{
  font-size: 3vh;
}
.Profile_info_image{
  width: 100px;
  height: 100px;
  border-radius: 8px;
}


.titleProfile{
  font-size: 40px;
  color: black;
  font-family: 'Unbounded';
}
.gridProfile{
display: flex;
padding: 0px 0px 0px 20px;
}