
.Profile_center{
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: space-between; */
  /* height: 700px; */
  /* width: 95%;
  height: 900px; */
  height: 92vh;
  width: 100%;
  background-color: rgb(230, 229, 229);
  /* margin: 20px auto; */
  justify-content: space-around;
  /* background: white; */
  /* border-radius: 10px; */
}
/* *{
  padding:0;
  margin:0;
} */
.Profile_image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  width: 30vh;
  height: 30vh;
  background: white;
  border-radius: 20px;
}
.Profile_image_icon{
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: url(../../assets/images/mir.jpg) center center no-repeat;
}
.Profile_info{
  margin-top: 3vh;
  width: 30vh;
  height: 30vh;
  background: white;
  border-radius: 20px;
}
